DrawingTestApp/.vs/
DrawingTestApp/DrawingTestApp.Android/bin/
DrawingTestApp/DrawingTestApp.Android/obj/
DrawingTestApp/DrawingTestApp.iOS/bin/
DrawingTestApp/DrawingTestApp.iOS/obj/
DrawingTestApp/DrawingTestApp/obj/
DrawingTestApp/DrawingTestApp/bin/
